# Python
backend/.venv/
backend/__pycache__/
backend/**/*.pyc
backend/.python-version

# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/

# OS
.DS_Store
Thumbs.db

# Editor settings
.idea/
.vscode/

# Local environment files
.env
.env.*
!.env.example
